{% extends "bas.html" %}

{% block title %}Team-Flashkick Blog{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
	{% for post in all_posts %}
		<div class="post">
            <rubrik><a href= /{{ post.id }}>{{ post.titel|safe }}</a></rubrik><br>
		    <datum>Publicerad:{{ post.pub_date }}<br></datum>
            {% if post.pub_date != post.up_date %}
                <datum>Uppdaterad:{{ post.up_date }}<br></datum>
			{% else %}
			{% endif %}
		</div>
    {% endfor %}

	
 <!--Random kommentar	   
			
	    <form action="/addPic/" method="post">
			Bild<br>
			<input type="file" name="file"
			Titel<br>
			<input type="text" name="titel"/><br>
			<input type="submit" value="skicka data"/>
        </form>-->

{% endblock %}