{% extends "bas.html" %}

{% block title %}Team-Flashkick{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
    <div class="text">
		<div class="bilder">
	<a href="/site_media/bilder/The Family.jpg" rel="rokbox[1024 530](bilder)" title="The Family :: Björns bröllopp"><img src="/site_media/09photouppsala.jpg" width="398" height="88" alt="Bilder" /></a>
	<a href="/site_media/bilder/Pelle.jpg" rel="rokbox[509 350](bilder)" title="Pelle :: Utanför sollentuna hallen"><img src="/site_media/08sjukhus.jpg" width="398" height="88" alt="Bilder" /></a>
	</div></div>
{% endblock %}