{% extends "bas.html" %}

{% block title %}Team-Flashkick{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
	<div class="text">
		<div class="filmer">
	<a href="http://vimeo.com/4104736" rel="rokbox[500 281]()" title="TFK Winter Sampler - 2009 :: This video was made to show what Pelle and John have been missing out on there around the world trip."><img src="/site_media/teamwinter09.jpg" width="380" height="84" alt="TFK Winter" /></a>
	<a href="http://vimeo.com/8158130" rel="rokbox[500 281]()" title="The Fall of a Hero :: Pelle just before he torn his meniscus summer 2009."><img src="/site_media/pellehero.jpg" width="380" height="84" alt="The Fall of a Hero" /></a>
	</div></div>
{% endblock %}