{% extends "bas.html" %}

{% block title %}Team-Flashkick{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
    <div class="text">
Vi gör framträdanden som anpassas för just ditt arrangemang både vad gäller tid och utrymme. Vi gör även workshops så att ni som vill får prova på tricking. Om ni har frågor, tveka inte att ta kontakt med oss, gärna via våran kontaktperson.<br>
<br>
Kontaktperson: Pelle Tunel<br>
Telefon: 0703899896<br>
e-mail:	info@team-flashkick.com<br>

	</div>
{% endblock %}