{% extends "bas.html" %}

{% block title %}Team-Flashkick{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
    <div class="text">
		<div class="links">

<a href="http://www.tricksession.com/" target="_blank">		<img src="/site_media/banners/tricksession.gif" border="0"></a>

<a href="http://www.club540.com/" target="_blank">		<img src="/site_media/banners/club540.gif" border="0"></a>

<a href="http://www.nordic-tricks.com/" target="_blank">	<img src="/site_media/banners/81Gbanner.gif" border="0"></a>

<a href="http://www.flashkick.se/flashkick/" target="_blank">	<img src="/site_media/banners/flashkickse.jpg" border="0"></a>

<a href="http://www.newageninjas.com/" target="_blank">		<img src="/site_media/banners/nan.jpg" border="0"></a>

<a href="http://www.furioushaime.com/" target="_blank">		<img src="/site_media/banners/furioush.gif" border="0"></a>

<a href="http://www.multilevelmoves.com/" target="_blank">	<img src="/site_media/banners/mlm.gif" border="0"></a>

<a href="http://www.bilang.com/" target="_blank">		<img src="/site_media/banners/bilang.gif" border="0"></a>

<a href="http://www.teamryouko.com/" target="_blank">		<img src="/site_media/banners/teamryouko.gif" border="0"></a>

	</div></div>
{% endblock %}