{% extends "bas.html" %}

{% block title %}Team-Flashkick{% endblock %}

{% block meny %}{% endblock %}
{% block content %}
	<div class="history">
		<div class="text">
			<b>Team Flashkick</b><right><a href="/site_media/history1.jpg" rel="rokbox[74 119]()" title="Sommar 2005 :: Robin och Antony"><img src="/site_media/history1.jpg" width="74" height="119" alt="" /></a></right>
			<p>Team Flashkick är ett Tricking team ifrån Tierp som lägger mycket energi på att göra shower. Varje medlem har sin egna unika stil och färdighet. Ambitionen på Teamet är hög och vi jobbar hårt för att nå våra mål.</p>
			<b>Historia</b>
			<p>Team Flashkick skapades 2003 i Tierp, Sverige, av tre ungdomar. Träningen har växt ifrån att vara endast på skoj till en mer seriös träning. Under vintern 2006 startades satsningen mot att göra fler och större shower.</p>
			<left><a href="/site_media/history2.jpg" rel="rokbox[119 74]()" title="Vinter 2004 :: Björn, Antony och Robin"><img src="/site_media/history2.jpg" width="119" height="74" alt="" /></a></left><td width="10">
			<b>Vad är det vi tränar?</b>
			<p>Denna sport som vi tränar kallas Tricking eller XMA(Xtreme Martial Art). Det är en blandning av olika kampsporter, gymnastik, breakdance och annan akrobatik. Den består med andra ord av volter med sparkar och snurrar. Som sagt så lägger vi ner mycket energi på att göra shower vilket innebär att vi blandar in mer dans än vad många andra gör.</p>
			<b>Vad är våra mål?</b>
			<p>Vårat mål är att vara det bästa show teamet i Sverige. Vi tränar för att ta teknikerna till nästa nivå och alltid finslipa dem. Vi vill även sprida tricking till det svenska folket och hoppas på att Sverige kan få fler utövare.</p>
			<right><a href="/site_media/history3.jpg" rel="rokbox[119 74]()" title="vinter 2007 :: Falun Gathering"><img src="/site_media/history3.jpg" width="119" height="74" alt="" /></a></right>
			<b>Hur går det nu?</b>
			<p>Just nu har vi vunnit Flip-a-trick som är den första svenska tävlingen inom tricking. Den har varit inriktad precis som vi på själva showen och kanske inte i förstahand svårighetsgraden på trick. Vi jobbar med GGF(Gävle Gymnastik Förening) på att utbilda trickingtränare till svenska gymnastik förbundet.</p>



	
	</div></div>
{% endblock %}
<!--<td width="10"><img src="pic/history1.jpg">
		<td width="10"><img src="pic/history2.jpg">
		<td width="10"><img src="pic/history3.jpg">
		
		<b>Team Flashkick</b><br>
Team Flashkick är ett Tricking team ifrån Tierp som lägger mycket energi på att göra shower. Varje medlem har sin egna unika stil och färdighet. Ambitionen på Teamet är hög och vi jobbar hårt för att nå våra mål.<br>
<b>Historia</b><br>
Team Flashkick skapades 2003 i Tierp, Sverige, av tre ungdomar. Träningen har växt ifrån att vara endast på skoj till en mer seriös träning. Under vintern 2006 startades satsningen mot att göra fler och större shower.<br>	
<b>Vad är det vi tränar?</b><br>
Denna sport som vi tränar kallas Tricking eller XMA(Xtreme Martial Art). Det är en blandning av olika kampsporter, gymnastik, breakdance och annan akrobatik. Den består med andra ord av volter med sparkar och snurrar. Som sagt så lägger vi ner mycket energi på att göra shower vilket innebär att vi blandar in mer dans än vad många andra gör.<br>
<b>Vad är våra mål?</b><br>
Vårat mål är att vara det bästa show teamet i Sverige. Vi tränar för att ta teknikerna till nästa nivå och alltid finslipa dem. Vi vill även sprida tricking till det svenska folket och hoppas på att Sverige kan få fler utövare.<br>	
<b>Hur går det nu?</b><br>
Just nu har vi vunnit Flip-a-trick som är den första svenska tävlingen inom tricking. Den har varit inriktad precis som vi på själva showen och kanske inte i förstahand svårighetsgraden på trick. Vi jobbar med GGF(Gävle Gymnastik Förening) på att utbilda trickingtränare till svenska gymnastik förbundet.<br>

-->